html,
body {
  background:#fff;	
  height: 100%;
  width: 100%;
}
body {
  color:#757575;
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif,'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


.bg-primary {
  background-color: #F05F40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
/*hidden navbar area*/ 

.text-muted {
  color: #777777;
}
.text-primary {
  color: #fed136;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}

/*hidden navbar area ends here*/
/*
1.2 Navigation area 
==============================*/

.navbar-inverse {
  background-color: #222222;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: black;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand.active {
  color: red;
}
.navbar-inverse .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-inverse .navbar-toggle {
  background-color: red;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: red;
}
.navbar-inverse .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}
.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
  color: red;
  outline: none;
  font-weight:bolder;
}
.navbar-inverse .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-inverse.navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-inverse .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-inverse .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
/*
1.2 Navigation Ends here
======================== */ 

/*
1.3 slideshow area
=========================*/
header,
header .carousel{
	margin-top:50px;
	position:relative;
}
.carousel .inner{
	height:50%;
}
img{
	display:block;
	margin:0 auto 20px;
}


.carousel h3{
	margin-top:100px;
}
.carousel p {
  color:#fff;
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight:300;
}
.carousel h1{
	font-family:'Oswald',sans-serif;
	color:#da291c;
	font-weight:700;
}
@media (max-width:560px){
	header .carousel{
		margin-top:50px;
	    position:relative;
		}
	 img{
	     margin-top:30px;
		
	}
    .carousel p {
        color:#fff;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight:300;
    }
    .carousel h1{
		font-size:16px;
	    font-family:'Oswald',sans-serif;
	    color:#da291c;
	    font-weight:700;
	}	
			
}

@media (max-width:300px){
	header .carousel{
		margin-top:50px;
	    position:relative;
		}
	 img{
	     margin-top:30px;
		
	}
    .carousel p {
        color:#fff;
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight:300;
    }
    .carousel h1{
		font-size:13px;
	    font-family:'Oswald',sans-serif;
	    color:#da291c;
	    font-weight:700;
}	
			
}
/*-------------------
  About-Us
----------------------*/
#about{
	background-color:#da291c;
	font-weight:700;
	color:#fff;
}
#about p{
	color:#fff;
	font-weight:300;
}


/*
1.3 slideshow area ends here
=========================*/
/*
==================
	[4. SERVICE]
==================
*/
#service{
	padding:100px 0;
	background-color:rgb(220,220,220);
}

.service-container:hover > .service-icon a{
	-webkit-box-shadow: 0 0 0 5px #4fc1e9;
	   -moz-box-shadow: 0 0 0 5px #4fc1e9;
		-ms-box-shadow: 0 0 0 5px #4fc1e9;
		 -o-box-shadow: 0 0 0 5px #4fc1e9;
			box-shadow: 0 0 0 5px #4fc1e9;
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}

#service h2{
	display: block;
	margin-bottom: 60px;
	font-size: 28px;
	line-height: 32px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

#service h2 small{
	display: block;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.service-container{
	display: block;
	margin-bottom: 20px;
}

.service-container:hover > .service-icon a{
	-webkit-box-shadow: 0 0 0 5px #4fc1e9;
	   -moz-box-shadow: 0 0 0 5px #4fc1e9;
		-ms-box-shadow: 0 0 0 5px #4fc1e9;
		 -o-box-shadow: 0 0 0 5px #4fc1e9;
			box-shadow: 0 0 0 5px #4fc1e9;
}

.service-icon{
	display: block;
	margin-bottom: 20px;
}

.service-icon a{
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background: #4fc1e9;
	border: 8px solid #fff;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

.service-icon a > i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 45px;
	height: 45px;
	margin-left: -22px;
	margin-top: -22px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.service-content{
	text-align: center;
}

.service-content h3{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
#phone-repair{
	background-image:url(../images_fix-it/background-contact.jpg);
	
}
/*---------------------
   Tech-Support
----------------------*/
#tech-support{
	padding:100px 0;
}



/*----------------------
      TV Brands
-----------------------*/
#tv-brands{
     padding:25px 0;
     background-image:url(../images_fix-it/image39.jpg);
}

#brandDivs{
	color:red;
	font-size:13px;
	font-weight:bolder;
}
/*-------------------
Tv Brands ends Here
-------------------*/

.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #F05F40;
}
.no-gutter > [class*='col-'] {
  padding-right: 0
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color:#F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}
.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

#partner{
	width: 100%;
	padding: 60px 0 55px;
	background: #fff;
} 
/* 
Contact Form 
======================================*/
#contact{
		  background-image: url(../images_fix-it/image55.jpg);
		  position:relative;
		  background-size:cover;
		  width: 100%;
          min-height: auto;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
}	  
.contactForm{
		  margin-top:50px;
}
	  
/*
Contact Form Ends Here 
=========================================*/
#orlando_area{
	padding:100px 0;
}

/*
footer area
==========================*/
footer {
	color:#bdbdbd;   
}
footer a,
footer > a{
	color:#333;
}
footer a:hover,
footer a:focus{
	color:red;
}

footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #212121;
}
/*
social media area
==========================*/
footer .footer-col {
  margin-bottom: 50px;
}
ul.social-network{
	list-style-type:none;
	display:inline;
	padding:0;
	
}
ul.social-network li{
	display:inline;
	margin: 0 5px;
}
.social-network a.icoFacebook:hover{
	background-color:#3b5998;
}
.social-network a.icoGoogle:hover{
	background-color:#bd3518;
}
.social-network a.icoTwitter:hover{
	background-color:#33ccff;
}
.social-network a.icoYelp:hover{
	background-color:#bd3518;
}
.social-network a.icoDribbble:hover{
	background-color:#33ccff;
}
.social-network a.icoFacebook:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoYelp:hover i,
.social-network a.icoDribble:hover i{
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}

.social-circle li i{
	margin:0;
	line-height:50px;
	text-align:center;
}

.social-circle li a:hover i, .triggeredHover{
	transform:rotate(360deg);
	transition: all .2s;
	
}
.social-circle i{
	color:#fff;
	transition:all 0.8s;
	
	
}
.social-circle a{
	background-color:#d3d3d3;
}

footer .footer-below {
  padding: 25px 0;
  background-color:#000;
  color:#424242;
}
/*
footer ends here
=========================*/

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}

/*---------------------

css_tv-repair
-----------------------*/
#tv-repair{
	padding:100px 0;
}

#tv-repair img{
	transition: all .1s ease in out;
}

#tv-repair img:hover,
#tv-repair img:active{
     transform:scale(1.3);
}
#tv-repair .brands{
	padding:10px;
	border-radius:10px;
	box-shadow:0 0 10px #252525;
}
/*---------------------
css_computer-repair
----------------------*/
#computer-repair img{
	transition: all .2s ease in out;
}
#computer-repair img:hover{
	transform: scale(1.1);
}















